@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
/*rubik*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  background-image: url("/assets/img/fondo.webp");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: rgba(4, 0, 0, 0.479);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);  
}
@media only screen AND (min-width:800px) {
  .container{
    height: 100vh;
  }
}

.container h1 {
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  margin: 0.5em;
}
.container form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container form input {
  height: 3em;
  font-size: 15px;
  margin: 0.5em;
  width: 90%;
  text-align: center;
}
  @media only screen AND (min-width:800px) {
.container form input {
  width: 3emsss;}
}
.container form button {
  height: 3em;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.5em;
  width: 90%;
}
.container form button:hover {
  background-color: #6ced70c1;
  cursor: pointer;
}
.respuesta {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-family: 'Koulen', cursive;
  text-align: center;
}

/* CARD */
.card{
  color: #fff;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  padding: 1em;
  font-family: 'Ubuntu', sans-serif;
}
  @media only screen AND (min-width:800px) {
  .card{
    width: 30em;
    margin: 0 auto;
   }
  }
.card__title{
  text-align: center;
  margin: 0.5em;

}
.card__img{
  width: 90%;
  margin: 0% 5% 0% 5%;
}
  @media only screen AND (min-width:800px) {
.card__img{
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(255, 255, 255);
}
.card__list__item{
  margin: 0.5em;
  width: 50%;
}
  }
.card__subtitle{
  text-align: center;
  margin: 0.5em;
}
.card__list{
  margin:1em;
}
.card__list__item{
  margin: 0.5em;
  width: auto;
}

*{
  border-radius: 15px;
}

/* FOOTER */
footer {
  border-radius: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(97, 97, 97, 0.404);
}

.footer {
  font-family: 'Rubik Mono One', sans-serif;
  padding: 1.5em;
  line-height: 1.4;
}

a {
  color: rgb(255, 255, 255);
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

 